.tableActionsBar {
    padding: 10px 15px;
}

.tableActionsBar .actionButton {
    margin: 0px 5px;
}

.table {
    height: calc(100vh - 52px - 48px);
    overflow: auto;
}

.tableSpinnerContainer {
    display: flex;
    justify-content: center;
    height: calc(100vh - 48px);
}